.header {
    background-color: #fff;
    color: #333;
    padding: 20px 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    color: #100d0d;
    text-decoration: none;
  }
  
  /* AOS styles */
  [data-aos] {
    opacity: 0;
    transition-property: opacity;
  }
  
  [data-aos].aos-animate {
    opacity: 1;
  }

  .logoFont {
    display: flex;
    align-items: center;
  }
  
  .logoFont img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  .nav-links.btn btn-open{
    background-color: black;
  }