

.container{
  display:flex;
  flex-direction:column;
  margin:auto;
  
  

  margin-top: 150px;
  background:linear-gradient(rgb(110, 110, 237), violet);
  padding-bottom: 30px;
  margin-left: 450px;
  margin-right: 450px;
  height: 300px;
  border-radius: 20px;

}
.header1{
  display: flex; 
  flex-direction: column;
  align-items: center;
  gap:9px;
  width:100%;
  margin-top: 30px;
 

}
body{
  background: white;
}
.text{
  font-weight: 200;
  font-size: 300%;
  font-style: bold;
}
.input-container{
  margin-top: 25px;
  display:flex;
  flex-direction: column;
  gap:25px;
}


.input{
  display:flex;
  align-items: center;
  margin:auto;
  width: 270px;
  height:38px;
background: white;
  border-radius: 6px;
  border: none;
  outline: none;
}
.subm{
  colour:rgb(159, 159, 243);
  margin-top:30px;
  height:40px;
  width:80px;
background-color: rgb(118, 118, 242);
border-radius: 6px;
}

.input img{
  margin: 0px 30px;
}