.gradient-custom-3 {
    /* fallback for old browsers */
    background: #ecf0ed;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(240, 243, 241, 0.5), rgba(238, 245, 248, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, white, white)
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #e4e8e5;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(233, 237, 235), rgb(246, 249, 250));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(238, 241, 239), rgb(242, 243, 244))
    }